body {
  margin: 0;
  text-align: center;
}
.top-container {
  background-color: #96c4db;
  padding-top: 100px;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
h1 {
  margin: 0;
  font-family: "Caveat", cursive;
  font-size: 3.75rem;
  color: #1572a1;
}
h4 {
  font-family: "Roboto Slab", serif;
  padding-top: 40px;
  font-size: 1.5rem;
  color: #1572a1;
  margin-top: 0;
  margin-bottom: 50px;
}
.greeting-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.col {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;

  align-items: center;
  padding-bottom: 25px;
}
.avatar {
  width: 50%;
}
.present-text {
  width: 50%;
  line-height: 1.5;
  justify-content: left;
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #96c4db;
  border-width: 5px;
  width: 10%;
  margin: 30px auto;
}

.middle-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(230, 196, 196);
  padding-bottom: 50px;
}
.skills {
  width: 50%;
  margin: 0 auto;
}
.skills-logo {
  margin: 10px 15px;
}
.experience-text {
  font-family: "Caveat", cursive;
  font-size: 30px;
  line-height: 1.5;
}
table {
  margin-left: auto;
  margin-right: auto;
}
td {
  padding: 1% auto;
  text-align: left;
}

.bottom-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: hsl(161, 24%, 63%);
  padding-top: 50px 0 30px;
}
.contact-me {
  width: 50%;
  margin: 0 auto;
}
.contact-mess {
  font-family: "Caveat", cursive;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 45px;
}
.btn {
  background-color: hsl(161, 15%, 43%);
  text-decoration: none;
  padding: 10px 20px;
  margin: 40px auto;
  border-radius: 8px;
  font-family: "Roboto Slab", serif;
  color: hsl(163, 16%, 25%);
}
.btn:hover {
  color: hsl(161, 24%, 63%);
}
.contact-links {
  margin-top: 50px;
  background-color: hsl(161, 15%, 43%);
  padding: 20px 0;
  color: hsl(163, 16%, 25%);
}
.footer-link:hover {
  color: hsl(161, 24%, 63%);
}
.footer-link {
  margin: 10px 20px;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: hsl(163, 16%, 25%);
}
.copyright {
  padding: 20px 0;
  font-size: 0.9rem;
}
